
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #999999;
  word-wrap: break-word;
  margin-left: 25%;
}
div {
    width: 400px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    background: white;
    bottom: 0;
    transition: .1s ease-out;
  }
button {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, .05);
}
textarea{
  margin-top: 300px;
  height: 30%;
}


